<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/styl.css" />
    <script type="text/javascript" src="/scripts/skrypt.js"></script>

    <title>Baza Repertuarów Krakowskich Kin</title>
</head>
<body onload="logowanie();">

<% if(msg === 0){ %>
    <script>
        alert("Błędne dane logowania.");
    </script>
<%}%>

<div id="kontener">

    <div id="pasekMenu">
        <ul>
            <li><a href='http://localhost:3000/'> Strona główna</a></li>
            <div id="przycisk_rejestracji">
                <input type="button" id="rejestruj" value="Utwórz konto">
            </div>
            <div id="przycisk">
                <input type="button" id="loguj" value="Zaloguj">
            </div>
            <form id="dane" name="dane">
                <label for="wsp_haslo"></label><input placeholder="Hasło" type ="password" id="wsp_haslo" name="wb">
                <label for="wsp_login"></label><input placeholder="Login" type ="text" id="wsp_login" name="wa">
            </form>
        </ul>
    </div>

</div>


<div class="srodek">
    <ul class = lista_film>
        <% for(let i=0; i < amount; i++) {%>
        <li>
            <div class="zawartosc_pojedynczego_filmu">
            <div class = "okladka">
                <a href = 'http://localhost:3000/showMovie/<%=lista[i].movieId%>'><img class="zdjecie" src="../plakat/<%=lista[i].plakat%>"></a>
            </div>
            <div class = "zawartosc_film" >
                <div class="zawartosc_tytul">
                    <a class="tytul" href ='http://localhost:3000/showMovie/<%=lista[i].movieId%>'> <%=lista[i].tytul%></a>

                    <button id="button_like">
                        <% for(let count=0; count < allLikesAmount; count++){ %>
                            <% if(allLikes[count].movieId === lista[i].movieId){ %>
                                <% if(allLikes[count].likeStatus === 1){ %>
                                <a class="like_numbers" href='http://localhost:3000/ulubione/like/<%=lista[i].movieId%>'><img class="ulubione_img" src="../ulubione_obraz/like_app.png"/>(<%=allLikes[count].likesAmount%>)</a>
                                <%} else { %>
                                <a class="like_numbers" href='http://localhost:3000/ulubione/like/<%=lista[i].movieId%>'><img class="ulubione_img" src="../ulubione_obraz/like.png"/>(<%=allLikes[count].likesAmount%>)</a>
                                <%}%>
                            <%}%>
                        <%}%>
                    </button>
                    <button id="button_dislike">
                        <% for(let count=0; count < allLikesAmount; count++){ %>
                            <% if(allLikes[count].movieId === lista[i].movieId){ %>
                                <% if(allLikes[count].likeStatus === 0){ %>
                                <a class="like_numbers" href='http://localhost:3000/ulubione/dislike/<%=lista[i].movieId%>'><img class="ulubione_img" src="../ulubione_obraz/dislike_app.png"/>(<%=allLikes[count].dislikesAmount%>)</a>
                                <%} else { %>
                                <a class="like_numbers" href='http://localhost:3000/ulubione/dislike/<%=lista[i].movieId%>'><img class="ulubione_img" src="../ulubione_obraz/dislike.png"/>(<%=allLikes[count].dislikesAmount%>)</a>
                                <%}%>
                            <%}%>
                        <%}%>
                    </button>

                </div>
                <div class="zawartosc_opis" href ='http://localhost:3000/showMovie/<%=lista[i].movieId%>'>
                    <p class="opis_tresc"><%=lista[i].opis%></p>
                </div>

                <div class="zawartosc_naglowek">
                    <p class="zawartosc_tresc_naglowka">Film aktualnie grany w: </p>
                </div>

                <div class="zawartosc_kina">
                    <ul class="lista_kin">
                        <% for(let j=0; j < lista[i].cinemaAmount; j++) {%>

                        <li class="opcja_kina">
                            <div class = "tlo_kina">
                                <p class="kino_tresc"><%=lista[i].cinemaList[j]%></p>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            </div>
        </li>
        <% } %>
    </ul>
</div>



</body>
</html>