<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Baza Repertuarów Krakowskich Kin</title>
    <link rel="stylesheet" type="text/css" href="../css/styl.css"/>
    <script type="text/javascript" src="/scripts/skrypt.js"></script>
</head>
<body onload="logowanie();">
<div id="kontener">
    <div id="pasekMenu">
        <ul>
            <li id="main_page"><a href='http://localhost:3000/'> Strona główna</a></li>
            <div id="przycisk_wylogowania">
                <input type="button" id="wyloguj" value="Wyloguj">
            </div>

            <div class="dropdown">
                <button class="dropbtn">Profil</button>
                <div class="dropdown-content">
                    <a href='http://localhost:3000/wszystkieFilmy'>Baza filmów</a>
                    <a href='http://localhost:3000/ulubione'>Ulubione</a>
                </div>
            </div>

        </ul>
    </div>
</div>


<div class="srodek">
    <ul class = lista_film>
        <% for(let i=0; i < amount; i++) {%>
        <li>
            <div class="zawartosc_pojedynczego_filmu">
                <div class = "okladka">
                    <a href ='http://localhost:3000/showMovie/<%=lista[i].movieId%>' ><img class="zdjecie" src="../plakat/<%=lista[i].plakat%>"></a>
                </div>
                <div class = "zawartosc_film" >
                    <div class="zawartosc_tytul">
                        <a class="tytul" href ='http://localhost:3000/showMovie/<%=lista[i].movieId%>'> <%=lista[i].tytul%></a>
                            <button id="button_fav">
                                <% if(lista[i].isFavorite === 0) {%>
                                    <a href ='http://localhost:3000/movieFav/<%=lista[i].movieId%>' ><img class="ulubione_img" src="../ulubione_obraz/not_favorite.png"/></a>
                                <%} else {%>
                                    <a href ='http://localhost:3000/movieFav/<%=lista[i].movieId%>' ><img class="ulubione_img" src="../ulubione_obraz/favorite.png"/></a>
                                <%}%>
                            </button>

                    </div>
                    <div class="zawartosc_opis" href ='http://localhost:3000/showMovie/<%=lista[i].movieId%>'>
                        <p class="opis_tresc"><%=lista[i].opis%></p>
                    </div>

                    <div class="zawartosc_naglowek">
                        <p class="zawartosc_tresc_naglowka">Film aktualnie grany w: </p>
                    </div>

                    <div class="zawartosc_kina">
                        <ul class="lista_kin">
                            <% for(let j=0; j < lista[i].cinemaAmount; j++) {%>

                            <li class="opcja_kina">
                                <div class = "tlo_kina">
                                    <p class="kino_tresc"><%=lista[i].cinemaList[j]%></p>
                                </div>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <% } %>
    </ul>
</div>



</body>
</html>
